GOOGLE_OAUTH_CLIENT_ID=your-google-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-client-secret

GOOGLE_OAUTH_REDIRECT_PATH=redirect-path

JWT_ACCESS_KEY=LocalAccessKeyForDevelopment
JWT_REFRESH_KEY=LocalRefreshKeyForDevelopment

ALLOWED_REDIRECT_URI_LOCAL=
ALLOWED_REDIRECT_URI_DEV=
SWAGGER_OAUTH2_REDIRECT_URL=

MAIL_STORAGE_S3_BUCKET=
MAIL_STORAGE_S3_REGION=
MAIL_STORAGE_S3_KEY_PREFIX=mail-files

# Optional for local profile-based auth
# AWS_PROFILE=default
